/* цвет-акцент голубой color: #2196F3; */
/* цвет заголовков color: #212121; */
/* цвет текста color: #757575; */
/* цвет белый color: #FFFFFF; */
/* адрес в футере color: rgba(255, 255, 255, 0.6); */
/* цвет мелкой подписи color: rgba(255, 255, 255, 0.4); */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(
    255,
    255,
    255,
    0.6
  ); /*белый полупрозрачный в футере в адресе*/
  --primary-black-color: #000000;
  --bg-subtitle-color: rgba(47, 48, 58, 0.8);
  --bg-btn-fltr-color: #f5f4fa;
  --author-color: rgba(255, 255, 255, 0.4); /*мелкая подпись в самом низу*/
  --bg-footer-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid goldenrod; */
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Site nav */
.header-studio {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.flex-header {
  display: flex;
  align-items: center;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.mail-nav {
  display: flex;
  margin-left: auto;
}

.nav-icon {
  margin-right: 10px;
}

.site-nav .item:not(:last-child),
.mail-nav .link:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 85px;

  color: var(--primary-black-color);
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .accent {
  color: var(--accent-color);
}
.site-nav .link {
  position: relative;
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
  fill: currentColor;
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  /* outline: 2px solid red; */
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Overlay */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/header-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Button */

.button {
  display: inline-block;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.underline {
  position: relative;
}

.section.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1170px;
  height: 1px;
  background-color: #ececec;
  right: 0;
  margin: 0 auto;
}

.section .title {
  color: var(--title-text-color);
}

/* Раздел Преимущества */
.flex-features {
  display: flex;
}

.flex-features .item {
  width: 278px;
}

.flex-features .item:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  display: block;
  padding: 25px 100px;
  background-color: var(--bg-btn-fltr-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

.title.features {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Заголовки */
.title.big {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* текст в Чем мы занимаемся */
.flex-apps {
  display: flex;
}

.flex-apps .item {
  width: 380px;
}

.flex-apps .item:not(:last-child) {
  margin-right: 30px;
}

/* На будущее - текст на картинку */
.img-wrap {
  position: relative;
}

.img-wrap h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.subtitle {
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--primary-white-color);
  background-color: var(--bg-subtitle-color);
  border-radius: 0px 0px 4px 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */
.flex-command {
  display: flex;
}

.flex-command .item {
  width: 278px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card-command {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.flex-command .item:not(:last-child) {
  margin-right: 30px;
}

.flex-social {
  display: flex;
  justify-content: space-between;
}

.title.medium {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Профессии нашей команды */
.text-small {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* фон Нашей команды */

.bg-highlighting {
  background-color: var(--bg-btn-fltr-color);
}

/* Постоянные клиенты*/

.flex-company {
  display: flex;
}

.flex-company .item {
  width: 175px;
}

.flex-company .item:not(:last-child) {
  margin-right: 30px;
}

.company-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon:hover,
.company-icon:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */
.page-footer {
  padding-top: 48px;
  padding-bottom: 21px;

  background-color: var(--bg-footer-color);
}

.flex-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;

  color: var(--primary-white-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.logo-footer .accent {
  color: var(--accent-color);
}

.address-nav {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-nav .item {
  display: inline-block;
  margin-bottom: 9px;
}

.address-nav .item:last-child {
  margin-bottom: 0px;
}

.address-nav .link {
  color: var(--primary-white-color);
  text-decoration: none;
}

.address-nav .transparent {
  color: var(--secondary-white-color);
  text-decoration: none;
}

.social .link {
  margin-top: 8px;
  margin-bottom: 21px;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button.subscription {
  margin-left: 270px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.page-footer .icon-social {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .icon-social:hover,
.page-footer .icon-social:focus {
  background-color: var(--accent-color);
}

.page-footer .item:not(:last-child) {
  margin-right: 10px;
}
.slogan {
  margin-right: 164px;
}

.subscribe {
  display: flex;
  align-items: center;
  fill: #ffffff;
}

.subscribe p {
  margin-right: 10px;
}
.author {
  margin-top: 18px;

  color: var(--author-color);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio */

.btn-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-filter {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--bg-btn-fltr-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
}

.btn-filter:not(:last-child) {
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.flex-examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.flex-examples .item {
  width: 370px;
  margin: 15px;

  background: var(--primary-white-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-examples .item:hover,
.flex-examples .item:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio h2 {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.description {
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
/* Оформление карточек портфолио */
.card {
  width: 370px;

  color: inherit;
  text-decoration: none;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  overflow: hidden;*/
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;

  padding: 63px 24px;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-description,
.card:hover .card-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.card:focus .card-description,
.card:focus .card-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.card-thumb::before {
  display: inline-block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  /* Рамка не везде а только с трёх сторон */
  border: 1px solid #eeeeee;
  border-top: 0;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}
